modelo/
app/__pycache__
.mypy_cache
.ropeproject
__pycache__
*.xls
*.xlsx
petshop/data.sqlite
petshop/credenciais.py
migrations/
crud/
__pycache__/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
