<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
        // $(function() {
                    $('#sandbox-container .input-group.date').datepicker({
                        language: 'pt-BR',
                        autoclose: true,
                        todayHighlight: true
                    });
        // });


    </script>
    <meta charset="utf-8">
    <title>Control Risks - ERP</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">ERP</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('views_consultas.index') }}">Home<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="{{ url_for('views_vendas.vendas', tipo = 'bt') }}">BT</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Vendas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('views_vendas.vendas', tipo = 'bt') }}">BT</a>
                <a class="dropdown-item" href="{{ url_for('views_vendas.vendas', tipo = 'hosp') }}">Hosp</a>
                <a class="dropdown-item" href="{{ url_for('views_vendas.vendas', tipo = 'cursos') }}">Cur</a>
                <a class="dropdown-item" href="{{ url_for('views_vendas.vendas', tipo = 'produtos') }}">Prod</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('views_consultas.listagens', id=0, tipo = 'vendas') }}">Últimas</a>
                <a class="dropdown-item" href="#">Pesquisar</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Clientes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('views_consultas.listagens', id=0, tipo = 'clientes') }}">Pessoas</a>
                <a class="dropdown-item" href="{{ url_for('views_consultas.listagens', id=0, tipo = 'peludos') }}">Peludos</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Pesquisar</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Despesas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Ajudantes</a>
                <a class="dropdown-item" href="#">Compras</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Totais</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Fornecedores
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Cadastro</a>
                <a class="dropdown-item" href="#">Consulta</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Pesquisar</a>
            </div>
        </li>

        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Analytics
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Pontuação clientes</a>
                <a class="dropdown-item" href="{{ url_for('views_cadastros.cadastro_peludos') }}">Resultados</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link disabled" href="#">Log in</a>
        </li>
    </ul>
    </div>
</nav>


<div class="container">
  {% block content %}

  {% endblock %}
</div>




</body>
</html>
