{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}


<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Cadastro de Clientes</h1>
    <h3>Preencha abaixo os dados do novo cliente:</h3>

    {{ wtf.quick_form(
                        form, method='POST', form_type='horizontal',
                        horizontal_columns=('lg', 3, 3),
                        button_map={'submit':'primary'}
                    )
    }}


  </div>
</div>


{% endblock %}
