{% extends "base.html" %}
{% block content %}

<br>

{% if tipo == 'd_pagamento'%}
    <h3 class="display-5">{{ heading[0] }}</h3>
    <hr>
    <ul>
    {% for head in heading %}
        <li>{{ head }}</li>
    {% endfor %}
    </ul>

{% else %}
    <h3 class="display-5">{{ heading }}</h3>

{% endif %}


<div class="jumbotron">

    {{ item }}

</div>



<div class="botoes">
{% if tipo in ['vendas', 'aberto'] %}

    {% if (item.saldo) %}
        {% if (item.saldo > 0) %}
            <a class="btn btn-primary"
            href="{{ url_for('views_pagamentos.pagamentos', id=item.id) }}">Adicionar $$$</a>
        {% endif %}
    {% else %}
        <a class="btn btn-primary"
        href="{{ url_for('views_pagamentos.pagamentos', id=item.id) }}">Adicionar $$$</a>
    {% endif %}

    {% if (tem_pagamentos) %}
    <a class="btn btn-primary"
    href="{{ url_for('views_consultas.listagens',
                tipo='pagamentos', id = item.id) }}">
    Listar pagamentos
    </a>
    {% endif %}

{% elif tipo == 'clientes' %}

    <a class="btn btn-primary"
    href="{{ url_for('views_consultas.listagens',
                tipo='ver_vendas', id = item.id) }}">
    Listar compras
    </a>

    <a class="btn btn-primary"
    href="#">
    Modificar
    </a>

{% elif tipo == 'peludos' %}
    <a class="btn btn-primary" href="{{ url_for('views_cadastros.cadastro_peludos') }}">
        Cadastrar novo peludo </a>

{% elif tipo == 'pagamentos' %}
    <a class="btn btn-primary"
    href="{{ url_for('views_pagamentos.pagamentos', id=listagem.items[0].venda_id) }}">Adicionar $$$</a>
{% endif %}

<a class="btn btn-primary"
href="#">
Modificar
</a>

<a class="btn btn-primary"
href="{{ url_for('views_cadastros.exclusao', id=item.id, tipo=tipo) }}">
Excluir
</a>

</div>




{% endblock %}
