{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1 class="display-4">ERP</h1>
    <p class="lead">Cadastro de clientes e registro de vendas</p>
</div>

<div class="jumbotron">

<h3 class="display-5">Welcome!</h3>

Um sistema ERP para pequenos negócios.

Principais características:
<ul>
    <li>hospedado na nuvem - Amazon Web Services - nunca para de funcionar</li>
    <li>permite registro de vendas, produtos, clientes, fornecedores</li>
    <li>alerta para vendas com saldo em aberto</li>
    <li>análise de resultados</li>
</ul>

<a class="btn btn-primary" href="#">Log in!</a>


</div>
{% endblock %}
