{% extends "base.html" %}
{% block content %}


<div class="jumbotron">

<h3 class="display-5">{{ heading }}</h3>

<hr>
{% if listagem.items %}

    <table class="table table-hover">
    <thead>
    <tr>
    <th scope="col" colspan="2" class="tg">Clique para editar</th>
    </tr>
    </thead>
    <tbody>

    {% for item in listagem.items %}
      <tr>

        <td>
        {{ item }}
        -
        <a href="{{ url_for('views_vendas.modifica_venda', id=item.id) }}">Modificar</a>

        {% if tipo == 'vendas' %}

            {% if item.saldo == 0 %}
                |
                <a href="{{ url_for('views_consultas.listagens',
                                    tipo='pagamentos',
                                    id=item.id)
                        }}">Ver $$$</a>

            {% else %}
                |
                <a href="{{ url_for('views_pagamentos.pagamentos',
                                    id=item.id)
                        }}">Adicionar $$$</a>
                {% if item.pagamentos %}
                    |
                    <a href="{{ url_for('views_consultas.listagens',
                                        tipo='pagamentos',
                                        id=item.id)
                                }}">Ver $$$</a>
                {% endif %}
                        
            {% endif %}

        {% endif %}

        </td>
      </tr>

    {% endfor %}

    </tbody>
    </table>

    <hr>

    {% if tipo == 'vendas' %}
        <h4>Cadastrar novas vendas de:</h4>

        <a class="btn btn-primary" href="{{ url_for('views_vendas.vendas_bt') }}">
            Banho & Tosa</a>
        <a class="btn btn-primary" href="{{ url_for('views_vendas.vendas_bt') }}">
            Hospedagem</a>
        <a class="btn btn-primary" href="{{ url_for('views_vendas.vendas_bt') }}">
            Cursos</a>
        <a class="btn btn-primary" href="{{ url_for('views_vendas.vendas_bt') }}">
            Produtos</a>

    {% endif %}


    {% if tipo == 'clientes' %}
        <a class="btn btn-primary" href="{{ url_for('views_cadastros.cadastro_clientes') }}">
            Cadastrar novo cliente </a>
    {% endif %}

    {% if tipo == 'peludos' %}
        <a class="btn btn-primary" href="{{ url_for('views_cadastros.cadastro_peludos') }}">
            Cadastrar novo peludo </a>
    {% endif %}


    {% if listagem.pages > 1 %}
        <nav aria-label="Page navigation ">
            <ul class="pagination justify-content-end">
            {% for page_num in listagem.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if listagem.page == page_num %}
                    <li class="page-item active">
                    <span class="page-link">{{ page_num }}
                        <span class="sr-only">(current)</span>
                    </span>
                    </li>

                {% else %}
                    <li class="page-item">
                    <a class="page-link"
                    href="{{ url_for('views_consultas.listagens', page=page_num, id=0, tipo = tipo) }}">{{ page_num }}
                    </a>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </nav>
    {% endif %}

{% endif %}
</div>
{% endblock %}
