{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

{% if ativa_protecao %}

<div class="alert alert-danger alert-dismissible" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span></button>
 <strong>Não permitido:</strong> Pagamento acima do valor devido - favor corrigir
</div>

{% endif %}


<h1 class="display-3">Registro de pagamentos</h1>


<div class="jumbotron">
<h4>Venda: {{ descricao }} - saldo: R${{ saldo }}</h4>

<hr>

<div class="container">
<form method="POST">
{{ form.hidden_tag() }}

<div class="row align-items-center">

    <div class="form-group col-md-2">
    {{ form.data.label }}
    {{ form.data(class_="form-control input-group date") }}
    </div>

    <div class="form-group col-md-3">
    {{ form.forma_pagto.label }}
    {{ form.forma_pagto(class_="form-control") }}
    </div>

</div>

<div class="row align-items-center">

    <div class="form-group col-md-2">
    {{ form.valor.label }}
    {{ form.valor(class_="form-control") }}
    </div>

    <div class="form-group col-md-3">
    {{ form.valor_entrada.label }}
    {{ form.valor_entrada(class_="form-control") }}
    </div>


</div>


<div class="row align-items-center">

    {{ form.submit(class_="btn btn-primary btn-lg") }}

</div>

</form>
<br>
<a class="btn btn-outline-danger btn-lg justify-content-end"
href="{{ url_for('views_consultas.index') }}">
    Pagar depois</a>

</div>
</div>


{% endblock %}
