{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}


<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Cadastro de Vendas</h1>
    <h3>Escolha abaixo o dono dos peludos:</h3>

    {{ wtf.quick_form(
                        form, method='POST', form_type='horizontal',
                        horizontal_columns=('lg', 5 , 7),
                        button_map={'submit':'primary'}
                    )
    }}


  </div>
</div>


{% endblock %}
